.footer {
	color: #808080;
	padding-top: 40px;
	text-align: center;
	background: #1A1919;
	padding-bottom: 40px;

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		.footer__copy {
			display: none;
		}
	}

	&__logo {
		width: 135px;
		display: block;
		margin: 0 auto 40px auto;
	}

	&__copy {
		color: #808080;
		font-size: 1.2rem;
		line-height: 2rem;
	}

	&__contact {
		padding: 0;
		list-style: none;
		margin: 0 0 40px 0;
		font-size: 1.4rem;
		line-height: 2.4rem;

		> li {

			&:first-child {
				margin-bottom: 15px;
			}
		}

		span {
			color: #fff;
			display: block;
			text-transform: uppercase;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	&__social {
		font-size: 0;
		line-height: 0;
		margin-bottom: 40px;
		@include flexbox();
		@include justify-content(center);

		a,
		span {
			width: 40px;
			height: 40px;
			color: #1A1919;
			margin: 0 10px;
			background: #fff;
			padding: 10px 0;
			font-size: 20px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			@include border-radius(50%);

			&:hover {
				background: $color-yellow;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		text-align: left;
		padding-bottom: 45px;

		&__row {
			@include flexbox();
			@include justify-content(space-between);

			> li {

				&:first-child {
				//	padding-right: 40px;
				}

				&:last-child {

				}
			}

			.footer__copy {
				display: block !important;
			}
		}

		&__logo {
			margin: 0 0 50px 0;
		}

		&__contact {
			padding-top: 8px;
			margin-bottom: 0;
		}

		.footer__copy {
			display: none;
		}

		&__social {
			width: 120px;
			padding-top: 15px;
			@include flex-wrap(wrap);

			a,
			span {
				margin-bottom: 20px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {

			> li {

				&:first-child {
		//			padding-right: 130px;
				}
			}
		}

		&__logo {
			width: 170px;
			margin-bottom: 42px;
		}

		&__copy {
			font-size: 1.4rem;
			line-height: 2.4rem;
		}

		&__contact {
			padding-top: 10px;

			> li {

				&:first-child {
					margin-bottom: 18px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}
