
.header {
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 1050;
	background: transparent;
	padding-top: 11px;
	position: fixed;
	padding-bottom: 18px;
//

	&.fix_top {
		background: #000;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.5));
	}

	&__row {
		position: relative;
		@include clearfix();
	}

	&__logo {
		width: 100px;
		display: block;
		margin: 0 auto;
	}

	&__toggle {
		top: 3px;
		right: -4px;
		width: 24px;
		height: 21px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		padding: 4px 4px 0 4px;
		display: inline-block;

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			margin-bottom: 3px;
			display: inline-block;
			@include transition(.3s);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__phone {
		top: 2px;
		left: 0;
		color: #fff;
		width: 20px;
		height: 20px;
		position: absolute;
		white-space: nowrap;
		font-size: 1.8rem;
		line-height: 2.2rem;
		display: inline-block;
		text-decoration: none;
		background: url("../img/icon__phone.svg") 50% 50% no-repeat;

		span{
			display: none;
		}

		&:hover {
			color: #fff;
			text-decoration: navajowhite;
		}
	}

	&__nav {
		top: 0;
		left: 0;
		padding: 25px 30px;
		height: 100vh;
		width: 270px;
		z-index: 1100;
		display: block;
		position: fixed;
		background: #000;
		margin-left: -300px;
		@include transition(0.5s);

		ul {
			margin: 0;
			padding: 40px 0 0 0;
			list-style: none;

			li {

				a {
					width: 100%;
					color: #fff;
					padding: 8px 0;
					font-size: 1.4rem;
					line-height: 2rem;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: $color-yellow;
						text-decoration: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 80px;
		padding-top: 15px;
		padding-bottom: 30px;

		&__toggle {
			display: none;
		}

		&__logo {
			margin: 0;
			width: 170px;
			float: left;
		}


		&__nav {
			float: right;
			padding: 13px 0 0 0;
			top: auto;
			left: auto;
			right: auto;
			height: auto;
			width: auto;
			font-size: 0;
			line-height: 0;
			position: relative;
			background: transparent;

			ul {
				padding: 0;
				margin-right: 20px;
				@include flexbox();
				@include order(1);

				li {

					a {
						width: auto;
						padding: 0 8px;
						line-height: 2.2rem;
					}

					&:last-child {
						padding-right: 12px;
						border-right: 1px solid $color-yellow;
					}
				}
			}
		}

		&__phone {
			float: right;
			width: auto;
			height: auto;
			top: auto;
			left: auto;
			margin-top: 13px;
			position: relative;
			line-height: 2.2rem;
			background: transparent;

			span {
				display: inline;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			ul {

				li {

					a {
						padding: 0 15px;
					}

					&:last-child {
						padding-right: 35px;
					}
				}
			}
		}
	}
}

