.how {
	color: #000;
	text-align: center;
	background: #EDEBE9;

	&__box {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	h2 {
		text-align: center;
		margin-bottom: 25px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 2rem;
		margin: 0 auto 30px auto;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.2rem;
		line-height: 1.8rem;

		li {
			position: relative;
			padding-top: 122px;
			text-align: center;
			margin-bottom: 30px;
			&:nth-child(1) {
				background: url("../img/how__icon_01.svg") 50% 0 no-repeat;

				.how__icon {
					width: 70px;
				}
			}

			&:nth-child(2) {
				background: url("../img/how__icon_02.svg") 50% 0 no-repeat;

				.how__icon {
					width: 102px;
				}
			}

			&:nth-child(3) {
				margin-bottom: 0;
				background: url("../img/how__icon_03.svg") 50% 0 no-repeat;

				.how__icon {
					width: 84px;
				}
			}
		}
	}

	&__text {
		margin: 0 auto;
		padding: 0 10px;
		max-width: 320px;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		&__subtitle {
			font-size: 1.6rem;
			line-height: 2.8rem;
			margin-bottom: 40px;
		}

		&__list {
			@include flexbox();

			li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__box {
			padding-top: 70px;
			height: 520px;
		}

		&__subtitle {
			font-size: 2.4rem;
			line-height: 3.5rem;
			margin-bottom: 50px;
		}

		&__text {
			font-size: 1.4rem;
			line-height: 2.4rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		background: #fff;
		z-index: 10;
		position: relative;

		&__box {
			margin-top: -300px;
			background: #EDEBE9;
			padding: 70px 90px 40px 90px;
		}
	}
}