.machine {
	padding-top: 45px;
	padding-bottom: 50px;

	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	&__item {

	}

	&__slogan {
		margin: 0 -15px;
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
		padding: 15px 10px;
		text-transform: uppercase;

		span {
			display: inline-block;
		}

		&.yellow {
			color: #000;
			background: $color-yellow;
		}

		&.red {
			color: #fff;
			background: #FF3F19;
		}
	}

	&__image {
		margin: 0 -15px;
		background: #EDEBE9;

		&_wrap {
			max-width: 460px;
			margin: 0 auto;
		}
	}

	&__info {
		padding-top: 30px;
	}

	&__type {
		color: #808080;
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 5px;
	}

	&__name {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
	}

	&__mobile {
		margin: 0 -15px;
		display: block;
		padding-top: 20px;
		padding-bottom: 10px;
		text-align: center;
		background: #EDEBE9;
	}

	&__desktop {
		display: none;
	}

	&__description {
		margin-bottom: 15px;

		&_text {
			display: block;
			margin-bottom: 5px;
		}

		&_link {
			color: #088BFB;
			text-decoration: none;

			&:hover {
				color: #088BFB;
				text-decoration: underline;
			}
		}
	}

	&__data {
		padding: 0;
		list-style: none;
		margin: 0 0 20px 0;

		li {
			margin-bottom: 10px;

			span {
				display: block;
				color: #808080;
				font-size: 1.2rem;
				line-height: 2rem;
			}

			strong {
				color: #000;
				display: block;
				font-weight: 700;
				font-size: 2.4rem;
				line-height: 3rem;
			}
		}
	}

	&__price {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3rem;
		position: relative;
		margin-bottom: 30px;
		display: inline-block;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			height: 10px;
			position: absolute;
			background: #FCC40B;
			display: inline-block;
		}

		span {
			z-index: 5;
			position: relative;
			display: inline-block;
		}
	}

	&__button {
		text-align: center;

		.btn {
			width: 280px;
		}
	}

	&__divider {
		margin-bottom: 50px;
	}

	@media (min-width: $screen-sm-min) {

		&__slogan {
			margin: 0;
		}

		&__image {
			margin: 0;
		}


		&__mobile {
			margin: 0;
		}

		&__divider {
			padding-top: 50px;
			margin-bottom: 50px;
			border-bottom: 1px solid #E6E6E6;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 80px;

		h2 {
			font-size: 4.8rem;
			line-height: 5rem;
			margin-bottom: 70px;
		}

		&__item {
			width: 100%;
			position: relative;
			padding-top: 50px;
			@include flexbox();
		}

		&__slogan {
			top: 0;
			left: 0;
			width: 100%;
			position: absolute;
		}

		&__image {
			width: 300px;
			padding-top: 60px;
			@include flex-shrink(0);
		}

		&__info {
			padding: 15px 0 0 20px;
			@include flex-grow(1);
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}

		&__name {
			margin-bottom: 10px;
		}

		&__button {
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__image {
			width: 460px;
			height: 580px;
			padding-top: 40px;
		}

		&__item {
			padding-top: 0;
			padding-left: 50px;
		}

		&__slogan {
			top: 265px;
			left: -265px;
			width: 580px;
			letter-spacing: 0.5px;
			white-space: nowrap;
			@include rotate(-90deg);
		}

		&__info {
			padding: 20px 0 0 40px;
		}

		&__type {
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&__name {
			font-size: 4rem;
			line-height: 4rem;
		}

		&__description {
			font-size: 1.4rem;
			line-height: 2.4rem;
		}

		&__data {

			li {

				span {
					font-size: 1.4rem;
					line-height: 2.4rem;
				}
			}
		}

		&__price {
			font-size: 3.6rem;
			line-height: 3.6rem;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__info {
			padding: 20px 0 0 55px;
		}

		&__type {
			font-size: 1.8rem;
			margin-bottom: 15px;
		}

		&__name {
			margin-bottom: 25px;
		}

		&__description {
			margin-bottom: 25px;

			&_text {
				margin-bottom: 10px;
			}
		}

		&__data {
			margin-bottom: 30px;
			@include flexbox();

			li {
				width: 50%;
				margin-bottom: 0;

				span {
					margin-bottom: 10px;
				}

				strong {
					font-size: 2.8rem;
				}
			}
		}

		&__price {
			margin-bottom: 40px;
		}

	}
}