.whu {
	background: #fff;
	padding-bottom: 0;
	padding-top: 50px;

	h2 {
		margin-bottom: 25px;
		text-align: center;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
		max-width: 970px;
		margin: 0 auto 30px auto;
	}

	&__list {
		padding: 0;
		margin: 0 -10px;
		list-style: none;
		text-align: center;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-around);

		li {
			width: 50%;
			font-size: 1.2rem;
			line-height: 2rem;
			margin-bottom: 35px;
			padding: 68px 10px 0 10px;

			&:nth-child(1) {
				background: url("../img/whu__icon_01.svg") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/whu__icon_02.svg") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/whu__icon_03.svg") 50% 0 no-repeat;
			}

			&:nth-child(4) {
				background: url("../img/whu__icon_04.svg") 50% 0 no-repeat;
			}

			&:nth-child(5) {
				background: url("../img/whu__icon_05.svg") 50% 0 no-repeat;
			}
		}
	}

	&__bottom {
		padding-top: 15px;
		margin: 0 -15px;
		border-bottom: 1px solid #E6E6E6;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;

		h2 {
			margin-bottom: 40px;
		}

		&__subtitle {
			font-size: 1.6rem;
			line-height: 2.8rem;
			margin-bottom: 55px;
		}

		&__list {

			li {
				width: 33.33%;
				padding-top: 85px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {


		&__subtitle {
			font-size: 2.4rem;
			line-height: 3.5rem;
		}

		&__list {
			margin-bottom: 70px;

			li {
				width: 20%;
				font-size: 1.4rem;
				line-height: 2.4rem;
				margin-bottom: 0;
			}
		}

		&__bottom {
			margin: 0;
			padding: 0;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}