.page {
	width: 100%;
	overflow: hidden;
	max-width: 100%;

	&.open_nav {

		.header__nav {
			margin-left: 0;
			@include transition(0.5s);
		}

		.header__toggle {

			span {
				position: relative;
				@include transition(.3s);

				&:nth-child(1) {
					top: 4px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					top: -1px;
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		.nav__overlay {
			top: 0;
			left: 0;
			right: 0;
			z-index: 800;
			height: 100vh;
			display: block;
			position: absolute;
		}
	}


	@media (min-width: $screen-lg-min) {


		&.open_nav {
			display: none;
		}
	}
}


.modal {
	width: 85%;
	color: #000;
	padding: 30px 20px;
	background: #fff;
	font-family: $font-family-head !important;

	&__title {
		font-size: 3rem;
		font-weight: 600;
		line-height: 3.4rem;
		text-align: center;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: center;
		margin-bottom: 30px;
	}

	&_thanks {
		padding: 90px 20px;

		&__title {
			font-size: 3rem;
			font-weight: 600;
			line-height: 3.4rem;
			text-align: center;
			margin-bottom: 10px;
		}

		&__text {
			font-weight: 400;
			font-size: 2.4rem;
			line-height: 3.2rem;
			text-align: center;
			margin-bottom: 30px;
			letter-spacing: 1px;
		}

	}

	@media (min-width: $screen-md-min) {
		width: 570px;
		padding: 60px 50px;

		&__subtitle {
			padding: 0 25px;
		}

		&_thanks {
			padding: 150px 20px;
		}

	}

}

.fancybox-bg {
	background: #000;
}

.fancybox-is-open .fancybox-bg {
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}