.coffee {
	padding-top: 45px;
	padding-bottom: 40px;
	background: #EDEBE9;

	h2 {
		text-align: center;
		margin-bottom: 35px;
		text-transform: uppercase;
	}

	&__box {

	}

	&__elem {

	}

	&__image {
		width: 190px;
		margin: 0 auto 35px auto;
	}

	&__text {
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 21px;
	}

	.swiper-scrollbar {
		background: #fff;

		&_drag {
			background: #595347;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 50px;

		h2 {
			margin-bottom: 60px;
		}
	}

	@media (min-width: $screen-lg-min) {
		position: relative;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 100;
			position: absolute;
		}

		&__text {
			font-size: 1.4rem;
			line-height: 2.4rem;
		}

		&__box {

		}
	}

	@media (min-width: $screen-xl-min) {

	}
}