.first {
	z-index: 1;
	overflow: hidden;
	position: relative;
	padding-top: 95px;
	padding-bottom: 50px;
	background: url("../img/top__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__block {
		text-align: center;
	}

	h1 {
		padding: 0;
		color: #fff;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 2.8rem;
		letter-spacing: 0.5px;
		margin: 0 0 20px auto;

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 700;
			font-size: 3.2rem;
			line-height: 4rem;
			color: $color-yellow;
		}
	}

	&__text {
		color: #fff;
		font-size: 1.2rem;
		line-height: 1.8rem;
		margin: 0 auto 30px auto;
	}


	&__bg {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		display: none;
		position: absolute;

		&_video {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				display: block;
				position: absolute;
				background: rgba(51,33,20,0.5);
			}
		}
	}


	&__content {
		z-index: 100;
		position: relative;
	}


	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-top: 150px;
		padding-bottom: 100px;

		h1 {
			font-size: 4.8rem;
			line-height: 5rem;
			letter-spacing: 2.5px;
			margin-bottom: 30px;

			strong {
				letter-spacing: 5px;
				font-size: 6.2rem;
				line-height: 6.6rem;
			}
		}

		&__text {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 40px;
		}

		.btn {
			min-width: 170px;
		}
	}


	@media (min-width: $screen-lg-min) {
		text-align: left;
		padding-top: 190px;
		padding-bottom: 200px;

		&__block {
			text-align: left;
			position: relative;
		}

		&__text {
			margin-bottom: 0;
		}

		.btn {
			right: 0;
			bottom: 0;
			position: absolute;
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 790px;

		&__bg {
			display: block;
		}

		&__block {
			margin-left: 100px;
			margin-right: 100px;
		}

	}
}


video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
	video {
		height: 300%; top: -100%;
	}

}

@media (max-aspect-ratio: 16/9) {
	video {
		width: 300%; left: -100%;
	}
}

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
	video {
		top: 0; left: 0;
		width: 100%; height: 100%;
		object-fit: cover;
	}
}