
.btn {
	color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 15px 35px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #FCC40B;
	display: inline-block;
	vertical-align: middle;
	@include transition(.2s);

	&:hover {
		color: #000;
		background: #FCED0E;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
		background: #FCC40B;
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.6rem;
		padding: 20px 45px;
	}
}

.btn_black {
	color: #fff;
	background: #000;

	&:hover {
		color: #fff;
		background: #2B2B2B;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
		background: #000;
	}
}

.btn_md {


}

.btn_send {
	width: 100%;
}