.form_control {
	margin: 0;
	width: 100%;
	outline: none;
//	height: 50px;
	color: #000;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 2rem;
	position: relative;
	padding: 14px 20px;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #808080;
	@include placeholder(#808080);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #000;
		@include placeholder(transparent);
		@include transition(.3s);
	}

	@media (min-width: $screen-md-min) {
		padding: 19px 20px;
	}
}

.form_group {
	margin-bottom: 20px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;
	}
}

.red,
.error {

	.form_control {
		border-color: #ff0000
	}
}

textarea.form_control {
	height: auto;
}
